
#menu{
	background-color: pink;
	font-size: 20px;
	text-align: right;
	position: fixed;
	width: 1333px;
}
#menu ul{
    list-style-type:none;
    padding-left:0;
    background-color: blue;
}

#menu ul li{
    display: inline;
    
}

#menu ul li a{
    text-decoration: none;
	margin-right: 20px;
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
    color:blue;
    
}
#menu ul li a:hover{
	color:while;
	background-color: white;
	padding: 0;
	border-radius: 5px;
	transition: color 0.3s, background 0.5s;

}
#header {
    background-color:pink;
    color:black;
    text-align:center;
    padding:3px;

}
#nav {
    line-height:50px;
    background-color:white;
    color: blue;
    height:1010px;
    width:350px;
    float:left;
    padding-top:120px;          
}
#section {
    width:900px;
    float:right;
    padding-top:40px;
    align-content: left;
    color: blue;
    font: "vni-park";

}
#footer {
    background-color:pink;
    color:black;
    clear:both;
    text-align:center;
   padding:6px;      
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: white;
}

li a {
    display: block;
    color: #000;
    padding: 0px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}